{% load static %}
<!DOCTYPE html>
<html lang="ua">
<head>
    <link rel="icon" href="data:;base64,=">
    <meta charset="UTF-8">
    <title>Авто сервіс СТО Київ,ремонт,обслуговування.</title>
    <link href="{% static 'suit/style.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="header">
        <img src="{% static 'images/СТО5.jpg' %}" alt="IT" class="logo">
        <ul>
            <li>
                <a href="{% url 'base' %}" class="active">Головна</a>
            </li>
            <li>
                <a href="#">Послуги</a>
            </li>
            <li>
                <a href="#">Сервіс</a>
            </li>
            <li>
                <a href="#">Наші роботи</a>
            </li>
            <li>
                <a href="#">Портфоліо</a>
            </li>
            <li>
                <a href="#">Контакти</a>
            </li>
            <li>
                <a href="#" class="active">+380979598366</a>
            </li>
        </ul>
    </div>

    <div class="bannerText">
        <h2> Авто Сервіс </h2><br>
        <h3>Повернемо до життя ваше корито.</h3>
        <p>Просто позвоните нам по телефону, номер которого указан
        на нашем сайте, и мы ответим на все интересующие вас
        вопросы. Также, вы можете легко заказать запчасти к
        Вашему авто прямо через форму заказа запчастей на нашем
        сайте, либо позвонив по телефону. На весь спектр
        оказываемых нами услуг мы всегда стараемся поддерживать
        адекватную и актуальную ценовую политику, а также лучшее
        качество выполнения услуг по ремонту автомобиля в Киеве.</p>
        <a href="#">Читати далі</a>
    </div>
    <img src="{% static 'images/СТО2.jpg' %}" class="bulb" width="800px">

    <div class="parallax"></div>

    <div class="imeg">
        <h1>Ремонтуему усе що їздить.</h1>
        <img src="{% static 'images/СТО1.jpg' %}"  width="900px">
    </div>

    <div class="banText2">
        <h2>Ремонтуему усе що їздить і повзае.</h2>
        <p>Просто позвоните нам по телефону, номер которого указан
        на нашем сайте, и мы ответим на все интересующие вас
        вопросы. Также, вы можете легко заказать запчасти к
        Вашему авто прямо через форму заказа запчастей на нашем
        сайте, либо позвонив по телефону. На весь спектр
        оказываемых нами услуг мы всегда стараемся поддерживать
        адекватную и актуальную ценовую политику, а также лучшее
        качество выполнения услуг по ремонту автомобиля в Киеве.
        На рынке автосервиса присутствует жесткая конкуренция, в
        условиях которой, качество является основным фактором
        успеха и позволяет нам расширять круг клиентов, гарантируя
        им стабильность в высоком качестве услуг.Работаем по
        безналу с НДС (безналичный расчет с НДС, оплата услуг по
        ремонту авто с учетом НДС), СТО с НДС, СТО по безналу,
         СТО по безналу с НДС Киев. </p>
    </div>

    <div class="parallax1"></div>

    <div class="footer">
        <div class="icons">
            <h3>&copyВсі права захишені 2020 р.</h3>
        <h3>&copySoftware Developer Andrii Shevchenko</h3>
            <ul class="sci">
                <li><a href="#"><img src="{% static 'images/Facebook.png' %}"></a></li>
                <li><a href="#"><img src="{% static 'images/twitter.png' %}"></a></li>
                <li><a href="#"><img src="{% static 'images/instagram.jpg' %}"></a></li>
            </ul>
        </div>
    </div>
</body>
</html>